{
  "name": "{{ hubot_name }}",
  "version": "{{ hubot_version }}",
  "private": true,
  "author": "{{ hubot_admin }}",
  "description": "{{ hubot_description }}",
  "dependencies": {
    "hubot": "^2.19.0",
    "hubot-help": "^0.2.2",
    {% if hubot_adapter == "slack" %}
    "hubot-slack": "^4.4.0",
    {% endif %}
    "coffee-script": "^1.12.6"
  },
  "engines": {
    "node": "0.10.x"
  }
}
